Repository developer-student-club-thapar/buying_selling_devops, pull requests merged in 2020-05, with the labels that each got.

#12 workflow setup for PR labeling
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: enhancement

#31 OAuth Setup (Backend + Models)
  buying_selling/urls.py
  posts/migrations/0001_initial.py
  posts/migrations/0002_auto_20200508_1437.py
  posts/migrations/0003_auto_20200504_2224.py
  posts/migrations/0004_auto_20200505_0007.py
  users/admin.py
  users/apps.py
  users/forms.py
  users/migrations/0001_initial.py
  users/migrations/0002_auto_20200504_2224.py
  users/migrations/0002_profile.py
  users/migrations/0003_auto_20200508_2028.py
  users/migrations/0004_auto_20200508_2032.py
  users/models.py
  users/signals.py
  users/views.py
Labels: backend

#37 post model age field changes
  posts/migrations/0003_auto_20200510_1903.py
  posts/models.py
Labels: backend

#39 Added UML, high level implementation diagram
  Backend_Diagrams/High-Level-Implementation.png
  Backend_Diagrams/UML-Diagram.png
Labels: documentation

#38 Login page added
  package.json
  public/index.html
  src/assets/login_bg.jpg
  src/pages/Login.js
  src/routes/index.js
  src/styles/Login.module.css
  yarn.lock
Labels: design, frontend

#45 [WIP] Connected OAuth
  package.json
  src/components/GoogleLoginButton.js
  src/pages/Login.js
  src/routes/index.js
  yarn.lock
Labels: frontend

#47 Refresh token configs
  buying_selling/jwt_settings.py
  buying_selling/settings.py
  buying_selling/urls.py
  src/components/GoogleLoginButton.js
  users/views.py
Labels: backend, backend-root, frontend, repo

#51 Use Google Cloud Storage Bucket for production
  .env.example
  .gitignore
  CONTRIBUTION.md
  README.md
  buying_selling/settings/__init__.py
  buying_selling/settings/base.py
  buying_selling/settings/dev.py
  buying_selling/settings/jwt_settings.py
  buying_selling/settings/prod.py
  poetry.lock
  pyproject.toml
  setup.cfg
Labels: backend, backend-root, enhancement, repo

#58 [WIP] Initial Redux setup for auth
  package.json
  src/App.css
  src/App.js
  src/components/GoogleLoginButton.js
  src/pages/Login.js
  src/pages/Welcome.js
  src/redux/actions/authActions.js
  src/redux/reducers/authReducer.js
  src/redux/reducers/genReducer.js
  src/redux/reducers/index.js
  src/redux/store/index.js
  src/redux/types.js
  src/routes/Route.js
  src/routes/index.js
  src/styles/Login.module.css
  yarn.lock
Labels: design, frontend

#54 [WIP] Setting up API End points for the Post Model
  .env.example
  buying_selling/settings/jwt_settings.py
  buying_selling/urls.py
  posts/api/__init__.py
  posts/api/permissions.py
  posts/api/serializers.py
  posts/api/urls.py
  posts/api/views.py
  posts/views.py
Labels: backend, repo

#64 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

#65 Create LICENSE
  LICENSE
Labels: documentation

#63 [WIP] Added Product Page
  src/App.css
  src/assets/headphones.jpeg
  src/components/Login/GoogleLoginButton.js
  src/components/Product/ImageCarousel.js
  src/components/Product/ProductDescription.js
  src/components/Product/ProductDetails.js
  src/pages/Login.js
  src/pages/Product.js
  src/pages/Welcome.js
  src/routes/Route.js
  src/routes/index.js
  src/styles/Product.module.css
Labels: design, frontend

#62 [Done] Added the end points for the Profile model
  buying_selling/urls.py
  posts/api/views.py
  users/api/__init__.py
  users/api/permissions.py
  users/api/serializers.py
  users/api/urls.py
  users/api/views.py
  users/migrations/0004_auto_20200520_1448.py
  users/models.py
Labels: backend, repo

#75 [WIP] Added Home page
  public/index.html
  src/assets/MenuIcon.svg
  src/assets/abstract_triangles.jpg
  src/assets/rsz_1headphones.jpg
  src/assets/user.svg
  src/components/Home/Categories.js
  src/components/Home/Recommendations.js
  src/components/Home/TopBar.js
  src/components/Home/TopBarScroll.js
  src/components/Home/hooks/useScrollHandler.js
  src/pages/Home.js
  src/routes/index.js
  src/styles/Home.module.css
Labels: design, frontend

#72 Settings configuration
  .env.example
  .travis.yml
  CONTRIBUTING.md
  buying_selling/settings.py
  buying_selling/settings/__init__.py
  buying_selling/settings/dev.py
  buying_selling/settings/jwt_settings.py
  buying_selling/settings/prod.py
Labels: backend, enhancement

#83 Backend creation
  buying_selling/config/__init__.py
  buying_selling/config/settings.py
  buying_selling/config/urls.py
  buying_selling/config/wsgi.py
  buying_selling/posts/__init__.py
  buying_selling/posts/admin.py
  buying_selling/posts/api/__init__.py
  buying_selling/posts/api/permissions.py
  buying_selling/posts/api/serializers.py
  buying_selling/posts/api/urls.py
  buying_selling/posts/api/views.py
  buying_selling/posts/apps.py
  buying_selling/posts/migrations/0001_initial.py
  buying_selling/posts/migrations/0002_auto_20200509_2359.py
  buying_selling/posts/migrations/0003_auto_20200510_1903.py
  buying_selling/posts/migrations/0004_postimages.py
  buying_selling/posts/migrations/0005_auto_20200513_1947.py
  buying_selling/posts/migrations/__init__.py
  buying_selling/posts/models.py
  buying_selling/posts/tests.py
  buying_selling/posts/views.py
  buying_selling/users/__init__.py
  buying_selling/users/admin.py
  buying_selling/users/api/__init__.py
  buying_selling/users/api/permissions.py
  buying_selling/users/api/serializers.py
  buying_selling/users/api/urls.py
  buying_selling/users/api/views.py
  buying_selling/users/apps.py
  buying_selling/users/forms.py
  buying_selling/users/migrations/0001_initial.py
  buying_selling/users/migrations/0002_auto_20200510_0021.py
  buying_selling/users/migrations/0003_auto_20200510_0222.py
  buying_selling/users/migrations/0004_auto_20200520_1448.py
  buying_selling/users/migrations/__init__.py
  buying_selling/users/models.py
  buying_selling/users/signals.py
  buying_selling/users/tests.py
  buying_selling/users/views.py
  manage.py
Labels: backend, backend-root

#85 a bit of refactoring
  buying_selling/config/settings.py
  buying_selling/posts/api/permissions.py
  buying_selling/posts/api/views.py
  buying_selling/users/api/permissions.py
  buying_selling/users/api/views.py
Labels: backend, backend-root

#87 Fixed the bug with the update and delete product routes
  buying_selling/posts/api/permissions.py
Labels: backend

#88 Returning the product id in product creation response
  buying_selling/posts/api/serializers.py
Labels: backend

#91 [WIP] Updated the viewset and added the Image serializer
  buying_selling/posts/api/serializers.py
  buying_selling/posts/api/views.py
Labels: backend

#92 [WIP] Dockerize Backend
  .dockerignore
  .pre-commit-config.yaml
  .prettierignore
  .travis.yml
  CONTRIBUTING.md
  buying_selling/config/settings.py
  buying_selling/users/migrations/0001_initial.py
  buying_selling/users/migrations/0004_auto_20200520_1448.py
  docker-compose.yml
  docker/dev.Dockerfile
  docker/entrypoint.sh
  poetry.lock
  public/robots.txt
  pyproject.toml
Labels: docker

#93 added a route for posting images corresponding to a particular post
  buying_selling/posts/api/permissions.py
  buying_selling/posts/api/serializers.py
  buying_selling/posts/api/urls.py
  buying_selling/posts/api/views.py
Labels: backend
