Repository developer-student-club-thapar/buying_selling_devops, pull requests merged in 2020-07, with the labels that each got.

#147 [Done] Report feature implemented
  buying_selling/posts/admin.py
  buying_selling/posts/api/urls.py
  buying_selling/posts/api/views.py
  buying_selling/posts/migrations/0009_report.py
  buying_selling/posts/migrations/0010_post_enabled.py
  buying_selling/posts/migrations/0011_report_reported_by.py
  buying_selling/posts/models.py
Labels: backend

#150 Django react binding done
  .env.example
  .gitignore
  build.sh
  buying_selling/config/settings.py
  buying_selling/config/urls.py
  package.json
  poetry.lock
  pyproject.toml
  src/constants/endpoints/index.js
Labels: backend, backend-root, frontend

#141 [Done] Wishlist integrated
  src/components/Product/WishlistButton.js
  src/constants/endpoints/index.js
  src/pages/Home.js
  src/pages/Product.js
  src/redux/actions/postActions.js
  src/redux/reducers/postReducer.js
  src/redux/types.js
Labels: frontend

#149 Working with Disabled Posts
  buying_selling/posts/api/permissions.py
  buying_selling/posts/api/serializers.py
  buying_selling/posts/api/views.py
Labels: backend
