Repository developer-student-club-thapar/buying_selling_devops, pull requests merged in 2020-06, with the labels that each got.

#96 Redux persist
  .prettierignore
  CONTRIBUTING.md
  package.json
  src/App.js
  src/components/Login/GoogleLoginButton.js
  src/constants/endpoints/index.js
  src/redux/actions/authActions.js
  src/redux/reducers/authReducer.js
  src/redux/reducers/genReducer.js
  src/redux/reducers/index.js
  src/redux/store/index.js
  yarn.lock
Labels: frontend

#98 Update Contributing.md
  CONTRIBUTING.md
Labels: documentation

#112 Added a route to fetch all categories
  buying_selling/posts/api/serializers.py
  buying_selling/posts/api/urls.py
  buying_selling/posts/api/views.py
Labels: backend

#114 [Done] Added the image field in list all posts route
  buying_selling/posts/api/serializers.py
  buying_selling/posts/api/views.py
Labels: backend

#120 Expanded the price check to 7 digits
  buying_selling/posts/migrations/0006_auto_20200603_1552.py
  buying_selling/posts/models.py
Labels: backend, bug

#99 [Done] Filtering Backend Routes for GET posts
  buying_selling/config/settings.py
  buying_selling/posts/api/views.py
Labels: backend

#128 Added some scroll effects
  package.json
  src/components/Home/TopBar.js
  src/components/Home/TopBarScroll.js
  src/pages/Product.js
  yarn.lock
Labels: frontend

#125 [WIP] Add Hostel Model
  buying_selling/users/admin.py
  buying_selling/users/api/serializers.py
  buying_selling/users/migrations/0004_auto_20200604_1254.py
  buying_selling/users/migrations/0005_auto_20200604_1643.py
  buying_selling/users/migrations/0006_auto_20200605_1909.py
  buying_selling/users/migrations/0007_auto_20200605_1915.py
  buying_selling/users/migrations/0008_auto_20200609_1616.py
  buying_selling/users/models.py
Labels: backend

#132 [WIP] Returning list of category objects
  buying_selling/posts/api/serializers.py
Labels: backend

#133 Documentation for admin panel created
  buying_selling/config/settings.py
  buying_selling/config/urls.py
  poetry.lock
  pyproject.toml
Labels: backend

#131 [Done] SavedPosts API Endpoints
  buying_selling/users/api/serializers.py
  buying_selling/users/api/urls.py
  buying_selling/users/api/views.py
  buying_selling/users/migrations/0001_initial.py
  buying_selling/users/migrations/0002_auto_20200605_1857.py
  buying_selling/users/migrations/0003_auto_20200510_0222.py
  buying_selling/users/models.py
Labels: backend

#138 [Done] Profile routes
  buying_selling/users/api/serializers.py
  buying_selling/users/api/urls.py
  buying_selling/users/api/views.py
Labels: backend

#139 Get all hostels route ready
  buying_selling/users/api/urls.py
  buying_selling/users/api/views.py
Labels: backend

#142 PostDetailSerializer now returns complete condition and age
  buying_selling/posts/api/serializers.py
Labels: backend

#145 Applied profanity validators
  buying_selling/config/settings.py
  buying_selling/posts/migrations/0007_auto_20200627_1058.py
  buying_selling/posts/migrations/0008_auto_20200627_1128.py
  buying_selling/posts/models.py
  buying_selling/users/migrations/0009_auto_20200627_1128.py
  buying_selling/users/models.py
  poetry.lock
  pyproject.toml
Labels: backend, backend-root, enhancement
